development:
  bitbucket_key: BsR88akZzHsSRDcCaG
  bitbucket_secret: JKdUCrjkQHB3zP6tCrSWqHfPk9wXBB7M
  github_key: 3e2fb2a43e15aeca55b4
  github_secret: c262596b11731ed0b37b62e1ed9632e844ad1811
  hook_url: http://example.com
  domain_url: http://yourdomainurl

test:
  bitbucket_key: yourbitbucketkey
  bitbucket_secret: yourbitbucketsecret
  github_key: yourgithubkey
  github_secret: yourgithubsecret
  hook_url: http://example.com
  domain_url: http://yourdomainurl
