development:
  address: "smtp.mailgun.org"
  port: 587
  domain: "my domain"
  user_name: "my user_name"
  password: "my password"
  authentication: "plain"
  api_key: "my api key"

test:
  address: "smtp.mailgun.org"
  port: 587
  domain: "my domain"
  user_name: "my user_name"
  password: "my password"
  authentication: "plain"
  api_key: "my api key"
