.no-builds {
  margin-top: 40px;
  border: 4px dashed #d2deed;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
  h5 {
    margin: 40px 0 20px 0;
  }
  label {
    width: 200px;
    text-align: right;
    padding-right: 10px;
  }
  input {
    width: 600px;
    height: 30px;
  }
}
.builds {
  list-style: none;
  padding: 0 40px;

  .build {
    border-left: 5px solid #CEDBED;
    position: relative;
    background: #FAFBFC;
    border: 1px solid #CEDBED;
    border-left: 1px solid #CEDBED;
    box-shadow: -4px 0 0 #CEDBED;
    color: #7F8994;

    &.success {
      background-color: #F5FAF5;
      border-color: #D1E6D2;
      border-left-color: #60CC69;
      box-shadow: -4px 0 0 #60CC69;
    }

    &.failed {
      background-color: #FAF5F5;
      border-color: #E6D1CF;
      border-left-color: #FE402C;
      box-shadow: -4px 0 0 #FE402C;
    }

    &.running {
      background-color: #DFE9F6;
      border-color: #A0C3F1;
      border-left-color: #5A95E5;
      box-shadow: -4px 0 0 #5A95E5;
    }

    .detail-link {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .avatar {
      width: 48px;
      height: 48px;
      margin: 10px 15px;
    }

    .status {
      width: 129px;
      margin: 18px 20px 18px 15px;
    }

    .label {
      text-transform: uppercase;
      display: inline-block;
      width: 100px;
      border-radius: 2px;
      text-align: center;
      cursor: default;
      line-height: 25px;
    }

    .rebuild-btn {
      margin-left: 15px;
    }

    .message {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      font-size: 14px;
      padding: 8px 0;
      color: #7F8994;

      p {
        margin: 2px 0;
      }

      a {
        margin-right: 5px;
        color: #7F8994;
        position: relative;
      }

      .project-name {
        &::after {
          content: ":";
        }
      }
      .commit-message{
        color: #000;
      }
      .author {
        position: relative;
      }

      .meta-item {
        margin-right: 10px;
        display: inline-block;
        line-height: 25px;
        vertical-align: middle;
        font-size: 12px;

        &.author {
          width: 80px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-x: hidden;
        }

        &.branch {
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-x: hidden
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
